@import "tailwindcss";

html { 
  scroll-behavior: smooth; 
  scroll-padding-top: 72px; 
}

.page { 
  padding-top: 72px; 
}

.gradient-text {
  background: linear-gradient(45deg, #ff007b, #ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px;
  font-weight: bold;
}
.swiper-button-next {
  right: 10px;
}