@import "tailwindcss";

html { 
  scroll-behavior: smooth; 
  scroll-padding-top: 72px; 
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.page { 
  padding-top: 72px; 
}

.gradient-text {
  background: linear-gradient(45deg, #ff007b, #ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Swiper arrow styling */
.swiper-button-next,
.swiper-button-prev {
  color: #ff8a00; /* Matching your orange theme */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
  font-weight: bold;
}

/* Fix for Mobile Desktop Mode */
@media (hover: none) and (pointer: coarse) {
  .force-mobile {
    grid-template-columns: 1fr !important;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    padding-top: 2rem !important;
    padding-bottom: 5rem !important;
  }

  .force-mobile .order-1 {
    order: 1 !important;
    margin-bottom: 2rem;
  }

  .force-mobile .order-2 {
    order: 2 !important;
  }

  .force-mobile .flex-wrap {
    justify-content: center;
  }

  /* Hide arrows on touch screens even in desktop mode */
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}